// InstaGib+ Configuration File
// ////////////////////////////
// File Created On: 2/15/00 3:07:51 PM
// File Created At: http://www.planetquake.com/instagibplus/config.asp
// ///////////////////////////////////////////////////////////////////
// This file should be in your quake3/instagibplus/ directory and should
// be called from the server batch file with +exec igplus.config

// Promote Mode Settings 
// /////////////////////////////////////////
// Starting at slot 1, after each kill
// the players weapon will move up the slots
// to slot9.  If the player is killed their
// weapon starts back at slot1.
// =========================================
// Weapon: Number
// Gauntlet: 1
// Machine Gun: 2
// Shotgun: 3
// Grenade Launcher: 4
// Rocket Launcher: 5
// Lightning Gun: 6
// Railgun: 7
// Plasma Gun: 8
// BFG: 9
//========================================= 
seta ig_slot1 9
seta ig_slot2 4
seta ig_slot3 5
seta ig_slot4 8
seta ig_slot5 6
seta ig_slot6 7
seta ig_slot7 3
seta ig_slot8 2
seta ig_slot9 2

// Weapon Firing Rate Settings
// /////////////////////////////////////////
// higher numbers = slower firing rate
// lower numbers = faster firing rate
//==========================================
seta ig_railgunTime 1000
seta ig_shotgunTime 500
seta ig_grenadeTime 400
seta ig_plasmaTime 100
seta ig_lightningTime 50
seta ig_machineTime 100
seta ig_bfgTime 500
seta ig_rocketTime 400

// Voting Settings
// //////////////////////////////////////////
// To customize what players can vote on add the
// options up and create a new votingFlags value.
// ==============================================
// Allow Voting                 -   1
// Allow Map Changes            -   2
// Allow Nextmap                -   4
// Allow Map Restart            -   8
// Allow Gametype Changes       -   16
// Allow Kicking players        -   32
// Allow Warmup                 -   64
// Allow Instagib+ Mode Changes -   128
// Example:
//   Allow voting, map changes, and instagib mode changes
//     1 + 2 + 128 = 131
//     seta votingFlags 131
// ==========================================
seta votingFlags 129

// Grappling Hook Settings
// ///////////////////////
// The grapple settings are:
// allowGrapple - 0 = NO / 1 = YES
// offhandGrapple - 0 = NO / 1 = YES
// ig_grappleSpeed - How fast a player gets pulled
// ig_grappleDeploy - How fast the grapple deploys
// ==========================================
seta ig_grappleDeploy 1600
seta ig_grappleSpeed 1600
seta allowGrapple 1
seta offhandGrapple 1

// MISC
// ///////////////////////////////////////////////////
// ======================================================
seta ig_fallingDamage 0
seta warnProtect 1
seta spawnProtect 1
seta protectTime 10000
// These settings are in the instagib+_server.bat file
// if you change these or remove the comment tags, dont forget to
// remove them from the batch file
// seta instagib 11 // instagib mode 
// seta bot_enable 0 // disable bots
// seta sv_maxclients 12  // maxclients
// seta sv_hostname "InstagibPlus Server"  // hostname
// seta g_motd "InstaGibPlus (The Other White Meat)" // motd
// =======================================================

