set m1 "map q3dm4; set nextmap vstr m2"
set m2 "map q3dm5; set nextmap vstr m3"
set m3 "map q3dm6; set nextmap vstr m4"
set m4 "map q3dm7; set nextmap vstr m5"
set m5 "map q3dm8; set nextmap vstr m6"
set m6 "map q3dm10; set nextmap vstr m7"
set m7 "map q3dm12; set nextmap vstr m8"
set m8 "map q3dm14; set nextmap vstr m9"
set m9 "map q3dm15; set nextmap vstr m1"

vstr m1